<footer class="">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="pull-left"><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> &mdash; Creatd by <a href="http://www.richardwalander.com">Richard W&aring;lander</a> &copy; 2013</small></div>
				<div class="pull-right">
					<iframe src="http://ghbtns.com/github-btn.html?user=notely&repo=notely-chrome&type=watch&count=true"
					allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
					<div class="fb-like" data-href="http://notely.github.io" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>&nbsp;
					<!-- Place this tag where you want the +1 button to render. -->
					<div class="g-plusone" data-size="medium"></div>
					<!-- Place this tag after the last +1 button tag. -->
					<script type="text/javascript">
					(function() {
						var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						po.src = 'https://apis.google.com/js/plusone.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					})();
					</script>
				</div>
			</div>
		</div>
	</div>
</footer>