---
layout: blog
title: "Notely - Blog"
---

{% for post in site.posts %}

<div class="row">
	{% if post.heroimg %}
		<div class="col-sm-12 heroimg">
			<a href="{{ post.url }}"><img src="{{ post.heroimg }}" alt="" class="img-responsive" style="margin: auto;"></a>
		</div>
	{% endif %}
	<div class="col-sm-8 col-sm-offset-2">
		<section class="post-preview">
			<a href="{{ post.url }}" class="header"><h2>{{ post.title }}</h2></a>
			<small class="text-muted">{{ post.date | date: "%a, %b %d, %Y" }} - {{ post.author }}</small><br><br>
			<div class="">{{ post.excerpt }}</div>
			<div class="text-muted">
				<i class="icon-tags pull-left"></i><ul class="list-inline">
					{% for cat in post.categories %}
						<li>{{cat}}</li>
					{% endfor %}
				</ul>
			</div>
			<div><p><a href="{{ post.url }}">Read more</a></p></div>
		</section>
	</div>
	<div class="clearfix visible-sm"></div>
</div>

{% endfor %}