@import 'less/variables';
@import 'less/icomoon';

// Scaffolding

.red {
	color: @red;
}

// Mobile view (standard)

body {
	
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 20px;
}

.navbar {
	.brand {
		img {
			margin-top: 8px;
			height: 32px;
			width: auto;
		}
	}
}

header {
	position: relative;
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #eee;
	border-bottom: solid 1px #e4e4e4;

	.hero-img {
		position: relative;
		bottom: -40px;
	}
	
}

footer {
	margin-top: 20px;
	padding: 20px 0;
	background-color: #eee;
	border-top: solid 1px #e4e4e4;
}

// Tablet view

// Desktop view

@media (min-width: @screen-lg) { 
	header {
		padding-top: 120px;
		padding-bottom: 100px;

		.hero-img {
			position: absolute;
			bottom: -394px;
		}
	}
}