---
layout: blog
---
<div class="row">
	{% if page.heroimg %}
		<div class="col-sm-12 heroimg">
			<img src="{{ page.heroimg }}" alt="" class="img-responsive" style="margin: auto;">
		</div>
	{% endif %}
	<div class="col-sm-8 col-sm-offset-2">
		<section class="post">
			<!--h2>{{ page.title }}</h2-->
			<small class="text-muted">{{ page.date | date: "%a, %b %d, %Y" }} - {{ page.author }}</small><br><br>
			<div class="">{{ content }}</div>
			<div class="text-muted">
				<i class="icon-tags pull-left"></i><ul class="list-inline">
					{% for cat in page.categories %}
						<li>{{cat}}</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<section class="social">
			<div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>&nbsp;
			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone" data-size="medium"></div>
			<!-- Place this tag after the last +1 button tag. -->
			<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>
		</section>
		<section class="disqus">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		        var disqus_shortname = 'notely'; // required: replace example with your forum shortname

		        /* * * DON'T EDIT BELOW THIS LINE * * */
		        (function() {
		        	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
	        </script>
	        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	    </section>
	</div>
</div>