---
layout: blog
---
<div class="row">
	<div class="col-sm-12 heroimg">
		<img src="{{ page.heroimg }}" alt="" class="img-responsive" style="margin: auto;">
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<section class="post">
			<!--h2>{{ page.title }}</h2-->
			<small>{{ page.date | date: "%a, %b %d, %Y" }}</small><br><br>
			<div class="text-muted">{{ page.content }}</div>
		</section>
		<section class="social">
			<div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>&nbsp;
			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone" data-size="medium"></div>
			<!-- Place this tag after the last +1 button tag. -->
			<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>
		</section>
	</div>
</div>